<%
    iframeUid = "responsive-iframe-" + Math.floor(Math.random() * 100000000);
%>
<div class="newsspec__iframe_holder">
    <a href="<%= path %>/<%= vocab_dir %>/index.html?v=<%= version %>" id="<%= iframeUid %>" data-static-iframe-height="600">Click here to see how the Earth's surface temperatures from 1880 to 2017 compare to the 20th century average</a>
</div>
<%
if (!scaffoldLite) {
%>
    <style>
    <%= include("../scss/news_special/loading.css") %>
    </style>
<%
}
%>
<script type="text/javascript"><%= include(debug ? "../js/lib/news_special/iframemanager__host.js" : "../js/lib/news_special/iframemanager__host.min.js", {iframeUid: iframeUid, scaffoldLite: scaffoldLite}) %></script>