$debug: false;
$which-env: local;
$scaffold-lite: false;
$project_number: 13386;
$year: 2015;
$image-widths: (320, 640, 1024);
$services-default: english;
$services-others: SHARED_CONFIG_PLACEHOLDER;
